@charset "UTF-8";
@font-face {
    font-family: 'FonteGermano';
    src: url('fontes/GloriaHallelujah-Regular.ttf');
}

section#secao-aula-gratis h1 {
    font-family: 'FonteGermano', sans-serif;
    text-transform: uppercase;
    margin-left: 65px;
    font-size: 16pt;
}

section#secao-aula-gratis p {
    text-align: justify;
    text-indent: 50px;
    font-size: 13pt;
    margin: 0px 107px 0px 218px;
    line-height: 1.5;
}

section#secao-aula-gratis h2 {
    font-family: 'FonteGermano', sans-serif;
    margin-left: 134px;
    font-size: 16pt;
}

/* Formatação do formulário */

form {
    width: 872px;
    margin-left: 267px;
    padding-bottom: 32px;
}

form fieldset {
    border: none;
    background-color: #FFCC00;
}

form fieldset legend {
    font-size: 14pt;
    font-weight: bold;
    color: #404040;
}

form input#cEnviar {
    margin-left: 755px;
}